<% provide(:title, t("home")) %>
<div class="col-md-3">
    <ul class="list-group ml-2">
      <li class="list-group-item text-center bg-primary">
        Categories
      </li>
      <%# @categories.each do |ctg| %>
        <%#= link_to admin_category_path(ctg), remote: true do %>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <%#= ctg.title %>
            <span class="badge badge-primary badge-pill">10<%#= ctg.books.count %></span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center list-ctg">Longs
            <span class="badge badge-primary badge-pill">10</span>
          </li>
        <%# end %>
      <%# end %>
      <li class="list-group-item text-center bg-primary">
        <%= link_to "New category", "new_admin_category_path", class: "text-body" %>
      </li>
    </ul>
</div>
<div class="col-md-9 row justify-content-md-center">
  <div class="col-md-6 row">
  <div class="ml-2" >
    <div class="container">
      <div class="row my-1 bg-white">
        <div class="col-md-6">
          <h5 class="text-primary">Article subtitle</h5>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-6 align-self-center">
          <img class="img-fluid d-block w-100 img-thumbnail" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/10492.jpg?v=2&w=340&h=497"> </div>
      </div>
      <div class="row bg-white">
        <div class="col-md-6">
          <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/1159.jpg?v=1&w=340&h=497"> </div>
        <div class="col-md-6">
          <h5 class="text-primary pt-3">Article</h5>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-md-6 row">
  <div class="ml-2" >
    <div class="container">
      <div class="row my-1 bg-white">
        <div class="col-md-6">
          <h5 class="text-primary">Article subtitle #1</h5>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md-6 align-self-center">
          <img class="img-fluid d-block w-100 img-thumbnail" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/10492.jpg?v=2&w=340&h=497"> </div>
      </div>
      <div class="row bg-white">
        <div class="col-md-6">
          <img class="img-fluid d-block mb-4 w-100 img-thumbnail" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/1159.jpg?v=1&w=340&h=497"> </div>
        <div class="col-md-6">
          <h5 class="text-primary pt-3">Article subtitle #2</h5>
          <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
