<% provide(:title, @book.title) %>
<nav aria-label="breadcrumb" class="col-md-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t("home"), admin_root_path %></li>
    <li class="breadcrumb-item"><%= link_to t(".book"), admin_users_path %></li></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @book.title %></li>
  </ol>
</nav>
<div class="row col-md-12 border bg-white">
  <%= render partial: "books/show" %>
</div>
