<%= form_for [@book, Comment.new], remote: true do |f| %>
  <div class="form-group">
    <div class="input-group">
      <%= f.text_field :content, class: "form-control" %>
      <%= f.submit (t"comments.comment.cmt"), class: "btn" %>
    </div>
  </div>
<% end %>
