<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{t(".hi")} #{@user.name}" %></h1>
    <p><%= "#{t(".your_request")} #{@borrow.book.title} #{t(".is")} #{@borrow.status}" %></p>
    <p><%= t ".review_at" %> <%= link_to t(".here"), user_url(@user) %></p>
  </body>
</html>
