<div class="card img-thumbnail">
  <% if book.picture? %>
    <%= link_to image_tag(book.picture.url, alt: "Card image cap",
      class: "card-img-top"), book_path(book) %>
  <% else %>
    <%= link_to image_tag("https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/4600.jpg",
    alt: "Card image cap", class: "card-img-top"), book_path(book) %>
  <% end %>
  <div class="p-1 card-body">
    <div class="book-title"><%= link_to book.title, book_path(book), class: "text-dark" %></div>
    <div class="book-author">
      <%= link_to book.author.name, "author_path(book.author)", class: "text-dark" %>
    </div>
  </div>
</div>
