<tr class="d-flex">
  <td class="col-3"><%= user.name %></td>
  <td class="col-4"><%= user.email %></td>
  <td class="col-2 text-center"><%= user.created_at.strftime("%d-%m-%Y") %></td>
  <td class="col-1 text-center"></td>
  <td class="col-1 text-center"></td>
  <td class="col-1 text-center"></td>
</tr>
