<tr class="d-flex">
  <td class="col-3"><%= link_to user.name, admin_user_path(user),
    class: "text-dark" %></td>
  <td class="col-4"><%= user.email %></td>
  <td class="col-2 text-center"><%= user.created_at.strftime("%d-%m-%Y") %></td>
  <td class="col-1 text-center"></td>
  <td class="col-1 text-center"></td>
  <td class="col-1 text-center"></td>
</tr>
